*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;

}
.header_logo{
    font-size: 30px;
    color: darkgoldenrod;
    font-weight: 600px;
}
.header_icon{
    font-size: 40px;
    color: darkgoldenrod;
    text-decoration: none;
}
/* panner */
.nav_main{
    background-color: #636464!important;
}
.nav_langua{
    font-size: 20px;
    color: #fff!important;
    font-weight: 600;
}
.nav_langua:hover{
    color: darkgoldenrod!important;
}